<div class='home-callout text-center container-fluid'>
    <h3>Contact Us</h3>
    
  <%= form_for contacts_path do |f|%>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :comment %>
      <%= f.text_area :comment %>
      
      <% f.submit 'Submit'%>
<% end %>          
</div>